@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
body {   
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
header, .banner, .about, .format, .knowledge, .curriculum,
 .reviews-wrapper, .details, .footer { 
    max-width: 1078px; 
    margin: auto; 
}
h2 {
    font-size: 55px;
    line-height:  56px; 
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.logo {
    margin-top: 21px;
    margin-bottom: 97px;
    width: 100%
}
.banner-details {
    display: flex;
    justify-content: space-between;
    width: 509px;
}
.banner-details-online, 
.banner-details-time, 
.banner-details-date,
.banner-main {
    display: flex;
}
.banner-details {
    line-height: 115%; 
}
.banner-details img {
    width: 22px;
    height: 22px;
    margin-right: 8px;   
}
.banner-main-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-main-text {
    line-height: 150%;
    width: 414px; /*53vw*/
}
/*чтобы тень не уезжала надо ставить align items start*/
.banner-main-img-wrapper {
    position: relative;
    width: 21vw; 
}.banner-main-img {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
}
.banner-main-shadow {
    width: 91%;
    height: 11.5%;
    position: absolute;
    right: 0;
    bottom: -6%;
    background-color: #EFEFEF;
    border-radius: 100%;
}
.banner-quote {
    margin-top: 67.6px;
}
.banner-quote-wrapper {
    width: 430px;
    background: #1E4681;
    border-radius: 5px;
    width: 483.63px;
    color: #FFFFFF;
    line-height: 32px;
    margin: 0 auto;
    padding: 19.4px 27px 24px 26.6px ;
}
.banner-quote-txt {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}
.banner-quote-author {
    margin: 0;
    text-align: right;
}
.about-wrapper {
    min-width: 1200px;
    margin-top: 173.4px;
}
.about-descr {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 77px;
}
.about-descr-text {
    width: 662px; 
    font-size: 24px;
    line-height: 36px;
}
.about-descr-text1 {
    margin-bottom: 30px;
    margin-top: 50px;
}
.about-descr-img {
    width: 314px; 
    height: 315px; /*надо ли так строго проставлять размеры картинки?*/
} 
.about-data {
    display: flex;
}
.about-data h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 0;
}
.about-data p {
    font-size: 18px;
    line-height: 130%;
}
.about-data-descr {
    display: flex; 
}
.about-data-descr div {
    width: 150px;
    margin-right: 95px;
}
.about-data-descr div:last-child {
    margin-right: 0;
}
.about-data-img {
    margin-right: 132px;
}
.format-wrapper {
    margin-top: 178px;
    min-width: 970px;
    margin-bottom: 224px;
}
.format-title {
    margin-bottom: 89px;
}
.format-descr {
    display: flex;
}
.format-descr div {
    margin-right: 122px;
    font-size: 18px;
    line-height: 23px;
}

.format-descr div:last-child {
    margin-right: 0;
}
.format-descr h3 {
    font-size: 25px;
    line-height:  32px; 
    color: #1E4681;
    margin-bottom: 0;
}
.knowledge-title {
    margin-bottom: 49px;
}
.knowledge ul {
    width: 639px;
    font-size: 24px;
    line-height: 36px;
    margin-left: -15px;
    margin-bottom: 232px;
}
/*.curriculum {
    width: 1271px; 
    margin: auto;
}*/
.curriculum-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 127px;
    margin-bottom: 121px;
}
.curriculum-list-card {
    width: 32%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 41px;
    margin-right: 37px;
}
/*.curriculum-list-card:nth-child(3) {
    margin-right: 0;
}*/
/*.curriculum-list-card:hover {
    border: 1px solid #000000;
     /*тут есть граница по маекту, 
     но при наведении картинка прыгает. почему?   
      box-sizing: border-box; не работает*/

.curriculum-list-card-img {
    width: 100%;
    border-radius: 30px 30px 0 0;
}
.curriculum-list-card-content {
    margin-left: 20px;
    margin-bottom: 23px;
}
.curriculum-list-card-content-title {
    font-size: 30px;
    line-height: 130%;
    margin-top: 11px;
    margin-bottom: 32px;
}
.curriculum-list-card-content-text {
    font-size: 25px;
    line-height: 130%;
}

.container-reviews {
    background-color: #EFEFEF;
    padding-bottom: 111px; 
    padding-top: 91px;
}
.reviews-card {
    width: 791px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 46px 10px 45px;
    margin-top: 63px;
    line-height: 30px;
}
.reviews-card-data {
    display: flex; 
    margin-top: 30px;
}
.reviews-cards-data-img {
    margin-right: 30px;
    margin-left: -25px;
}
.reviews-card-data-contacts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.reviews-card-data-contacts p {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
}
.container-details {
     background-color: #9DC9C8;
     padding: 179px 0 185px 0;
}

.container-footer {
    background-color: #000000;
}
.details-price {
    margin-top: 54px;
    margin-bottom: 67px;
}
.details-price p {
    line-height: 101.38%;
    margin: 0;
}
.details-price p:first-child {
    font-size: 25px;
}
.details-price p:last-child {
    font-size: 80px;
}
.details-descr {
    display: flex;
}
.details-descr-block {
    margin-right: 70px;
    line-height: 101.38%;
    width: 294px;
}
.details-descr-block p:first-child {
    font-size: 25px;
}
.details-descr-block p:last-child {
    font-size: 18px;
}
.footer {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
}
.footer-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 146px;
}
.footer-contacts a {
    text-decoration: none;
    /*откуда снизу ссылки берутся как блок?*/
}
.footer-contacts p {
    margin: 0;
}
.footer-contacts-left {
    width: 190px;
}
.footer-contacts-left-socials {
    display: flex;
    /*align-items: flex-end;*/
    justify-content: space-between;
}
.footer-contacts-left img {
    margin-bottom: 30px;
    margin-top: 50px;
}
.footer-contacts-number, .footer-contacts-mail {
    display: flex;
    align-items: center;
    font-size: 25px;
    line-height: 101.38%;
}
.footer-contacts-number img, .footer-contacts-mail img {
    margin-right: 22px;
}
.footer-contacts-right {
    margin-top: 54px;
}
.footer-contacts-number {
    margin-bottom: 18px;
}
.footer-rights {
    font-size: 18px;
    line-height: 101.38%;
    margin-bottom: 23px;
}


/*tablet*/
@media (min-width: 992px) and (max-width: 1279px) {

    header, .banner, .about, .format, .knowledge, .curriculum,
    .reviews-wrapper, .details, .footer { 
    max-width: 622px; /* 622px сам контейнер, 834 - макет, что надо?)
    можно ли и тут проценты? 
    почему будто бы применяется не ко всем сразу*/
    margin: 0 auto; 
    }
    body {
        font-size: 12px; /*почему-то сразу на все не применяется., 
        надо ставить отдельно везде*/
    }
    /*.logo {
        как сделать картинку гибкой? проценты?
    }*/
    .banner {
        margin-bottom: 100px; /*можно иначе как-то задать? 
        оступ берется откуда-то еще дополнительный, 
        не могу в инспекторе увидеть, откуда именно
        */
    }
    .banner-details {
        width: 49%; 
        line-height: 115%;
    }
    .banner-details img {
        width: 12px; 
        height: 12px;
    }
    .banner-main-title {
        font-size: 46px; /*%? от чего считать?*/
        line-height: 101.38%;
    }
    .banner-main-text {
        line-height: 150%;
    }
    .banner-main-img-wrapper {
        width: 29%;
    }
    .banner-quote-wrapper {
        width: 45%; /*делю здесь на 622*/
        line-height: 130%;
        box-sizing: content-box; /*почему именно так получается правильный размер?*/
    }
    .banner-quote-txt {
        font-size: 14px;
    }
    .banner-quote-author {
        font-size: 12px;
    }
    h2 {
        font-size: 32px;
        line-height: 101.38%;
    }




    .about-descr-text {
        font-size: 14px;
        line-height: 150%;
        width: 62%; /*не применяется 368/622*/
    }
    .about-descr-img {
        width: 22%; /*не применяется 181/322*/
    }
    .about-data-img {
        width: 30%; /*134/622 и опять плохо рабоатет - 22%*/
        margin-right: 0;
    }
    .about-data-descr h3 {
        font-size: 15px;
        line-height: 130%;
    }
    .about-data-descr p {
        font-size: 11px;
        line-height: 130%;
    }
    /*ширина не получается у всего блока опять*/
    .format-descr {
        display: flex;
        justify-content: space-between;
        width: 90%; /*561/622*/
    }
    .format-descr div {
        line-height: 130%;
        margin-right: 0;
    }
    .format-descr h3 {
        font-size: 15px;
    }
    .format-descr h3 {
        font-size: 11px;
    }
    .knowledge-title {
        margin-bottom: 28.5px; /*% ?*/
    }
    .knowledge ul {
        width: 639px;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 232px; /*от чего здесь считать?*/
    }


    /*что-то отступом случилось, то потому что у body margin 0 auto?*/
    .curriculum-list-card {
        width: 34%;
        /*231 ширина на макете /622 - размер сонтейнера 
        37% и это неправильно получается, почему??*/
        border-radius: 17.375px;
        margin-bottom: 23.75px;
        margin-right: 21.43px;
    }
    .curriculum-list {
        margin-top: 70px;
        margin-bottom: 52px;
    }

    .curriculum-list-card-img {
        width: 100%;
        border-radius: 17.375px 17.375px 0 0;
    }
    .curriculum-list-card-content {
        margin-left: 11px;
        margin-right: 20px;
        margin-bottom: 13px;
    }
    .curriculum-list-card-content-title {
        font-size: 17px;
        margin-top: 11px;
        margin-bottom: 18.53px;
    }
    .curriculum-list-card-content-text {
        font-size: 14px;
    }



    .reviews-card {
        width: 80%; /*458,12 / 622 65%*/    
        border-radius: 17.375px; 
        padding: 23px 26px 23px 26px;   
        margin-top: 36px;
    }    
    .reviews-card-data {
        margin-top: 20px;
    }
    .reviews-card-data img {
        width: 110.04px;
        margin-right: 17px;
    }
    .reviews-card-data-contacts {
        margin-top: 30px;
    }
    .reviews-card-data-contacts p {
        font-size: 17px;
        line-height: 101.38%;
    }
    .reviews-card-data-contacts img {
        width: 18.53px;
    }


    .details-price {
        margin-top: 31px;
        margin-bottom: 40px;

    }
    .details-price p:first-child {
        font-size: 14px;
        line-height: 101.38%;
    }
    .details-price p:last-child {
        font-size: 46px;
        line-height: 101.38%;
    }
    .details-descr-block p:first-child {
        font-size: 14px;
        line-height: 101.38%;
        margin-bottom: 6px;
    }
    .details-descr-block p:last-child {
        font-size: 10px;
        line-height: 101.38%; 
    }

    .footer-contacts {
        margin-bottom: 84.5px;
    }
    .footer-contacts-left {
        width: calc(190px/622px*100);
    }
    .footer-contacts-left img {
        margin-bottom: 17px;
        margin-top: 30px;
    }
    .footer-contacts-number, .footer-contacts-mail {
        font-size: 14px;
    }
    .footer-contacts-number img, .footer-contacts-mail img {
        margin-right: 10px;
    }
    .footer-contacts-right {
        margin-top: 35px;
    }
    .footer-contacts-number {
        margin-bottom: 18px;
    }
    .footer-rights {
        font-size: 10px;
    }
    /*что и как сделать с картинкаим? До сих пор не понимаю
    */

    


}


/*mobile*/
/*азмер экрана от 320px до 991px.*/
@media (min-width: 320px) and (max-width: 991px) {

}