@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {   
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;/*20px/1440*/
}
p {
    margin: 0;
    padding: 0;
}

.container { 
    max-width: 75vw; /*1078/1440px;*/
    margin: auto; 
}
h2 {
    font-size: 3.8vw; /*55px/1440*/
    line-height: 3.9vw; /*56px/1440*/
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.logo {
    margin-top: 1.5vh;  /*21px*/
    margin-bottom: 6.7vh; /*по маетматике так 97px/1440
    а по макету будто бы мало выглядит, почему?*/
    width: 8vw;
}
.banner {
    margin-bottom: 12vw; /*173px*/
}
.banner-details {
    display: flex;
    justify-content: space-between;
    width: 35vw; /*509px/1440*/ 
    line-height: 115%; 
}
.banner-details-online, 
.banner-details-time, 
.banner-details-date,
.banner-main {
    display: flex;
}
.banner-main {
    justify-content: space-between;
}
.banner-details img { 
    width: 1.5vw; /*22px/1440*/
    height: 1.5vw;  /*22px/1440*/
    margin-right: 0.6vw;   /*8px/1440*/
} 
.banner-main-descr {
    width: 40vw; 
}
.banner-main-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 5.5vw;  /*80px/1440*/
    line-height: 5.6vw; /*81px/1440*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-main-text {
    line-height: 150%;
}

/*контейнер не совпадает по размеру!*/

.banner-main-img-wrapper {
    width: 21vw; /*304px/1440*/
    margin-top: 1.25vw; /*18/1440*/
}
.banner-main-img {
    width: 100%;
    display: block;
}
.banner-quote {
    margin-top: 4.6vw; /*67.5px; считается от ширины*/
}
.banner-quote-wrapper {
    width: 34vw; /*483px*/
    background: #1E4681;
    border-radius: 1%; /*5px/430 процент от ширины карточки */
    color: #FFFFFF;
    line-height: 2.2vw; /*32px*/
    margin: 0 auto;
    padding:  19.4px 27px 24px 25px /* 4% 5.6% 5% 5.5%; от ширины родителя-обертки?*/
}
.banner-quote-txt {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1.7vw; /*25px*/
    width: 29.9vw; /*430px*/
}
.banner-quote-author {
    margin: 0;
    text-align: right;
    font-size: 1.4vw; /*20px*/
}
/*about*/
.about-descr {
    display: flex;
    justify-content: space-between; 
    /*margin-bottom: 2.8vw; /*42.5px*/
    margin-top: 3.2vw; /*47*/
    margin-bottom: 5.3vw; /*77*/
}
.about-descr-text {
    width: 46vw; /*670px/1440*/
    font-size: 1.67; /*24px*/
    line-height: 2.5vw; /*36*/
}
.about-descr-text1 {
    margin-bottom: 2vw; /*30px*/
}
.about-descr-img {
    width: 21.8vw; /*314px/1440*/
    margin-right: -8vw; 
} 
.about-descr-img img {
    width: 100%;
}
.about-data {
    display: flex;
    align-items: center;
}
.about-data-descr h3 {
    font-weight: bold;
    font-size: 1.7vw; /*25px*/
    line-height: 2.2vw; /*32px*/
    margin-bottom: 0.5vw; /*8px*/
}
.about-data-descr p {
    font-size: 1.25vw; /*18*/
    line-height: 130%;
}
.about-data-descr {
    display: flex; 
}
.about-data-descr div {
    width: 10.4vw; /*150*/
    margin-right: 6.6vw; /*95px*/
}
.about-data-descr div:last-child {
    margin-right: 0;
}
.about-data-img {
    margin-right: 9.2vw; /*132px*/
    width: 16vw; /*232*/
}
.about-data-img img {
    width: 100%;
}



/*tablet*/
@media (min-width: 992px) and (max-width: 1279px) {

    .container { 
    max-width: 75vw; /*622px/834*/
    margin: 0 auto; 
    }
    body {
        font-size: 1.4vw; /*12px/834*/
    }
    .logo {
        width: 7.7vw;
        margin-top: 2.6vw; 
    }
    .banner {
        margin-bottom: 12vw; /*100px*/
    }
    .banner-details {
        width: 32vw;  /*228*/
        line-height: 115%;
    }
    .banner-main-descr {
        width: 37vw; 
    }
    .banner-main-title {
        font-size: 5.5vw;
        line-height: 101.38%;
    }
    .banner-main-text {
        line-height: 150%;
    }
    .banner-main-img-wrapper {
        width: 21vw; /*176,07px*/
    }

    .banner-quote-wrapper {
        width: 33vw;
        line-height: 130%;
    }
    h2 {
        line-height: 101.38%;
    }
/*about*/
    .about-descr-img {
        width: 22vw; 
        margin-right: -5.5vw; 
    } 

}
/*mobile*/
/*pазмер экрана от 320px до 991px.*/
@media (min-width: 320px) and (max-width: 991px) {
    
    .container { 
    max-width: 81vw; /* 307px сам контейнер, 375 - макет*/
    margin: 0 auto; 
    }
    body {
        font-size: 2.6vw; /*10px*/
    }
    .logo {
       width: 13vw; /*52,19px/375*/
       margin-bottom: 12vw; /*45.2px*/
       margin-top: 9.6vw; /*36*/
    }
    .banner {
        margin-bottom: 20vw; /*75.06px/375*/
    }
    .banner-details {
        width: 60vw; /*227px/375*/ 
        line-height: 115%;
    }
    .banner-details img {
        width: 2.7vw; /*10.25px*/
        height: 2.6vw; /* 9.79px*/
    }
    .banner-main {
        display: flex;
        flex-direction: column;
    }
    .banner-main-title {
        font-size: 9.9vw; /*37px*/
        width: 70vw;/*265px/375*/
        line-height: 101.38%;
        margin: 1.9vw 0 4vw 0 ; /*7 15*/
    }
    .banner-main-text {
        width: 55vw; /*210px*/
    }
    /*все картинки в блоках. vw картинка в блоке зависит от блока
    потому менять надо блок, не картинку*/
    .banner-main-img-wrapper {
        width: 37.8vw; /*141,68px*/
        margin-left: auto;
        margin-right: 0;
    }
    .banner-quote-wrapper {
        margin-top: 10.3vw; /*38.64px*/
        width: 60vw; /*225,36pх/375*/
        line-height: 130%;
        margin: 0 0;
    }
    .banner-quote-txt {
        width: 60vw; /*225,36px*/
        font-size: 2.9vw; /*11px*/
        line-height: 130%;
    }
    .banner-quote-author {
        line-height: 130%;
        font-size: 2.6vw; /*10px*/
    }
    h1 {
        font-size: 9.8vw; /*37px*/
    }
    h2 {
        font-size: 6.9vw; /*26px*/
        line-height: 101.38%;
    }
    /*about*/
    .about-descr {
        display: flex;
        flex-direction: column;
        margin-top: 5.4vw;
        margin-bottom: 12vw; /*45.7*/
    }
    .about-descr-text {
        width: 100%;
        margin-bottom: 4vw; /*15*/
        font-size: 3.2vw; /*12px*/
        line-height: 4.8vw;
    }
    .about-descr-text1 {
        margin-bottom: 6.6vw; /*25px*/
    }
    .about-descr-img {
        width: 45.5vw; /*170.5px/375*/
        margin: 0 auto; 
    } 
    .about-data {
        display: flex;
        flex-wrap: wrap;
    }

    /*КАК перенести на новую строку??*/
    .about-data-descr {
        margin-right: 35.7vw; /*134*/
    }
    .about-data-descr h3 {
        font-weight: bold;
        font-size: 3.2vw; /*12px*/
        line-height: 130%;
        margin-bottom: 1.7vw; /*6.5px*/
    }
    .about-data-descr p {
        font-size: 2.7vw; /*10*/
    }
    .about-data-descr {
        display: flex; 
    }
    .about-data-descr div {
        width: 22.9vw; /*86*/
        margin-right: 8.8vw; /*33.3px*/
    }
    .about-data-descr div:last-child {
        margin-right: 0;
    }
    .about-data-img {
        display: none;
    }



}