@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {   
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
p {
    margin: 0;
    padding: 0;
}

.container { 
    max-width: 75vw; /*1078px;*/
    margin: auto; 
}
h1 {
    font-size: 55px; /*или надо как-то иначе задать?*/
    line-height: 56px; 
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
.logo {
    margin-top: 1.5vh;  /*21px*/
    margin-bottom: 6.7vh; /*МАЛО! 97px/1440? или надо от высоты? а как ее высчитать?*/
    width: 8vw;
}
.banner-details {
    display: flex;
    justify-content: space-between;
    width: 25vw; /*509px/1440 - 35vw но это много*/ 
    line-height: 115%; 
}
.banner-details-online, 
.banner-details-time, 
.banner-details-date,
.banner-main {
    display: flex;
}
.banner-details img {
    width: 22px; /*22/1072 - 2% - очень мало* 4.3% - 22/509 - тоже мало!*/
    height: 22px;  /*?*/
    margin-right: 8px;   /*от чего здесь отсчитывать и надо ли?*/
}
.banner-main-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 80px; /*!*/
    line-height: 81px; /*от чего считать?*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*а здесь пиксели останутся?*/
}
.banner-main-text {
    line-height: 150%;
    width: 28vw; /*414px/1440 
    почему опять не получается то, что надо?*/
}


/*чтобы тень не уезжала надо ставить align items start*/
.banner-main-img-wrapper {
    position: relative;
    width: 21vw; /*304px/1440 - картинка получается огромная - почему?*/
}
.banner-main-img {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
}
.banner-main-shadow {
    width: 91%;
    height: 11.5%;
    position: absolute;
    right: 0;
    bottom: -6%;
    background-color: #EFEFEF;
    border-radius: 100%;
}
.banner-quote {
    margin-top: 67.5px; /*?*/
}
.banner-quote-wrapper {
    width: 29vw; /*430px*/
    background: #1E4681;
    border-radius: 1%; /*5px/430*/
    color: #FFFFFF;
    line-height: 32px; /*!*/
    margin: 0 auto;
    padding: 19.4px 27px 24px 26.6px ; /*как их вычислять? от чего?*/
}
.banner-quote-txt {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 25px; /*!*/
}
.banner-quote-author {
    margin: 0;
    text-align: right;
}

/*tablet*/
@media (min-width: 992px) and (max-width: 1279px) {

    .container { 
    max-width: 75vw; /* 622px сам контейнер, 834 - макет, что надо?)*/
    margin: 0 auto; 
    }
    body {
        font-size: 12px; /*!*/
    }
    .logo {
        width: 7.7vw;
        /*отступы все еще не понимаю как задвать, но это вопрос выше уже был*/
    }
    .banner {
        margin-bottom: 100px; /*!*/
    }
    .banner-details {
        width: 32vw; /*270px/834 - как-то расплылось*/
        line-height: 115%;
    }
    .banner-details img {
        width: 12px; 
        height: 12px;
    }
    .banner-main-descr {
        width: 37vw; /*361px*/
    }
    .banner-main-title {
        font-size: 46px; /*%? от чего считать?*/
        line-height: 101.38%;
    }
    .banner-main-text {
        line-height: 150%;
    }
    .banner-main-img-wrapper {
        width: 21vw; /*176,07px*/
    }
    .banner-quote-wrapper {
        width: 29vw; /*280,11px/834 - 34vw должно быть, но не походит. почему?; */
        line-height: 130%;
        /*радиус тоже надо поменять?*/
    }
    .banner-quote-txt {
        font-size: 14px; /*!*/
    }
    .banner-quote-author {
        font-size: 12px; /*!*/
    }
    h2 {
        font-size: 32px; /*!*/
        line-height: 101.38%;
    }

}
/*mobile*/
/*pазмер экрана от 320px до 991px.*/
@media (min-width: 320px) and (max-width: 991px) {
    
    .container { 
    max-width: 81vw; /* 307px сам контейнер, 375 - макет*/
    margin: 0 auto; 
    }
    body {
        font-size: 10px; /*!*/
    }
    .logo {
       width: 13vw; /*52,19px*/
    }
    .banner {
        margin-bottom: 100px; /*?*/
    }
    .banner-details {
        width: 60vw; /*227px / 375 - почему-то неправильно*/
        line-height: 115%;
    }
    .banner-details img {
        width: 10.25px; /*!*/
        height: 10.25px; /*!*/
    }
    .banner-main {
        display: flex;
        flex-direction: column;
    }
    .banner-main-title {
        font-size: 37px; /*!*/
        width: 32vw;/*274px/375 - все неправильно*/
        line-height: 101.38%;
    }
    .banner-main-img-wrapper {
        width: 29%;
        text-align: right; /*почему не работает? как переместить картинку вбок?*/
    }
    .banner-quote-wrapper {
        width: 60vw; /*225,36pх / 375 - */
        line-height: 130%;
        box-sizing: content-box; /*почему именно так получается правильный размер?*/
    }
    .banner-quote-txt {
        font-size: 11px;
        line-height: 130%;
    }
    .banner-quote-author {
        font-size: 10px;
        line-height: 130%;
    }
    h2 {
        font-size: 32px; /*!*/
        line-height: 101.38%;
    }

}